<html>
<head>
<meta content="text/html; charset=iso-8859-1" http-equiv=Content-Type>
<meta content="nl" http-equiv="Content-Language">
</head>
<body leftMargin="0" rightMargin="0" topMargin="0" marginheight="0" marginwidth="0" style="font-family: Arial; color: #000066; font-size: 10pt" bgcolor="#F1F1FF">

<table  border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td width="30%" align="left" valign="top">LOGO TENNIS SCHOOL</td>
<td width="40%" align="center" valign="top"><font face="Arial" size="3" color="#000000"><b>NAME TENNIS SCHOOL</b></font><br><font face="Arial" size="2" color="#000000">ADRES TENNISSCHOOL</font><br><font face="Arial" size="2" color="#000000">PHONE AND FAX NUMBER SCHOOL</font>
<br><font face="Arial" size="2" color="#000000">EMAIL ADRESS SCHOOL</font><td width="30%" nowrap align="right" valign="top"><font face="Arial" size="4" color="#000000"><b>FACTUUR</b></font></td>
</tr>
</table>
<hr size="4" color="#000066">

<p>&nbsp;</p>
<table border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top"><font face="Arial" size="2" color="#000000">Aan:&nbsp;&nbsp;</font></td>
<td><font face="Arial" size="2" color="#000000"><b>CLIENT NAME</b></font></td>
</tr>
<tr>
<td><font face="Arial" size="2" color="#000000">&nbsp;</font></td><td><font face="Arial" size="2" color="#000000">CLIENT ADRES</font></td>
</tr>
<tr>
<td><font face="Arial" size="2" color="#000000">&nbsp;</font></td><td><font face="Arial" size="2" color="#000000">CLIENT ZIPCODE + CITY</font></td>
</tr>
</table>

<p>&nbsp;</p>
<table border="0" cellspacing="0" cellpadding="0">
<tr>
<td><font face="Arial" size="2" color="#000000">Factuurdatum</font></td>
<td><font face="Arial" size="2" color="#000000">DATE INVOICE</font></td>
</tr>
<tr>
<td><font face="Arial" size="2" color="#000000"><b>Factuurnummer</b>&nbsp;&nbsp;</font></td>
<td><font face="Arial" size="2" color="#000000"><b>INVOICE NUMBER</b></font></td>
</tr>
<tr>
<td><font face="Arial" size="2" color="#000000">Relatienummer</font></td>
<td><font face="Arial" size="2" color="#000000">CLIENT NUMBER</font></td>
</tr>
<tr>
<td><font face="Arial" size="2" color="#000000">Seizoen</font></td>
<td><font face="Arial" size="2" color="#000000">Zomerseizoen 2007</font></td>
</tr>
</table>

<p>&nbsp;</p><table border="0" cellspacing="3" cellpadding="0" width="100%" bgcolor="#E1E1E1">
<tr>
<td colspan="3"><font face="Arial" size="1" color="#000000">Omschrijving</font></td>
<td><font face="Arial" size="1" color="#000000">&nbsp;</font></td>
<td align="right"><font face="Arial" size="1" color="#000000">Tarief</font></td>
<td align="right"><font face="Arial" size="1" color="#000000">BTW</font></td>
</tr>
<tr><td colspan="6"><font face="Arial" size="2" color="#000000"><b>Les/Training</b></font></td>
</tr>
<tr><td colspan="6"><font face="Arial" size="2" color="#000000">Betreft cursist <b>NAME TRAINEE</b>.</font></td>
</tr>
<tr>
<td valign="top"><font face="Arial" size="2" color="#000000">*</font></td>
<td nowrap valign="top"><font face="Arial" size="2" color="#000000">Type</font></td>
<td colspan="2"><font face="Arial" size="2" color="#000000">CATEGORY NAME (group/individual)</font></td>
<td align="right" valign="top" nowrap><font face="Arial" size="2" color="#000000">&euro;&nbsp;PRICE WITHOUT TAX</font></td>
<td align="right" valign="top" nowrap><font face="Arial" size="2" color="#000000">6%</font></td>
</tr>
<tr>
<td valign="top"><font face="Arial" size="2" color="#000000">*</font></td>
<td nowrap valign="top"><font face="Arial" size="2" color="#000000">Groep</font></td>
<td colspan="2"><font face="Arial" size="2" color="#000000">GROUP NUMBER</font></td>
<td colspan="2"><font face="Arial" size="2" color="#000000">&nbsp;</font></td>
</tr>
<tr>
<td><font face="Arial" size="2" color="#000000">*</font></td>
<td nowrap><font face="Arial" size="2" color="#000000">Periode</font></td>
<td colspan="2"><font face="Arial" size="2" color="#000000">LESSON DATES (i.e. from april to oktober)</font></td>
<td colspan="2"><font face="Arial" size="2" color="#000000">&nbsp;</font></td>
</tr>
<tr>
<td valign="top"><font face="Arial" size="2" color="#000000">*</font></td>
<td nowrap valign="top"><font face="Arial" size="2" color="#000000">Speeldag en -tijd</font></td>
<td colspan="2"><font face="Arial" size="2" color="#000000"><b>DAY OF LESSON</b> van <b>START TIME</b> tot END TIME; TENNIS LANE<br>LOCATION NAME, LOCATION ADRES, LOCATION ZIPCODE + CITY</font></td>
<td colspan="2"><font face="Arial" size="2" color="#000000">&nbsp;</font></td>
</tr>
<tr>
<td><font face="Arial" size="2" color="#000000">*</font></td>
<td nowrap><font face="Arial" size="2" color="#000000">Maximum leerlingen</font></td>
<td colspan="2"><font face="Arial" size="2" color="#000000">CATEGORY MAXIMUM AMMOUNT OF TRAINEES</font></td>
<td colspan="2"><font face="Arial" size="2" color="#000000">&nbsp;</font></td>
</tr>
<tr>
<td><font face="Arial" size="2" color="#000000">*</font></td>
<td nowrap><font face="Arial" size="2" color="#000000">Aantal lessen</font></td>
<td colspan="2"><font face="Arial" size="2" color="#000000"><b>CATEGORY AMMOUNT OF LESSONS</b></font></td>
<td colspan="2"><font face="Arial" size="2" color="#000000">&nbsp;</font></td>
</tr>
<tr>
<td colspan="3"><font face="Arial" size="2" color="#000000">&nbsp;</font></td>
<td align="right" nowrap><font face="Arial" size="2" color="#000000">Subtotaal exclusief BTW&nbsp;</font></td>
<td align="right" nowrap><font face="Arial" size="2" color="#000000">&euro;&nbsp;PRICE WITHOUT TAX</font></td>
<td><font face="Arial" size="2" color="#000000">&nbsp;</td>
</tr>
<tr>
<td colspan="3"><font face="Arial" size="2" color="#000000">&nbsp;</font></td>
<td align="right" nowrap><font face="Arial" size="2" color="#000000">Subtotaal 6% BTW&nbsp;</font></td>
<td align="right" nowrap><font face="Arial" size="2" color="#000000">&euro;&nbsp;TAX (6%)</font></td>
<td><font face="Arial" size="2" color="#000000">&nbsp;</td>
</tr>
<tr>
<td colspan="3"><font face="Arial" size="2" color="#000000">&nbsp;</font></td>
<td align="right" nowrap><font face="Arial" size="2" color="#000000"><b>TOTAAL TE BETALEN</b>&nbsp;</font></td>
<td align="right" nowrap><font face="Arial" size="2" color="#000000"><b>&euro;&nbsp;PRICE WITH TAX</b></font></td>
<td><font face="Arial" size="2" color="#000000">&nbsp;</td>
</tr></table>

<p><font face="Arial" size="2" color="#000000">U kunt betalen door op de volgende link te klikken: PAYMENT LINK</font></p>
</body>
</html>